.navbar {
    background-color: rgb(156,3,3);
    overflow: hidden;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    float: left;
  }
  
  .navbar a {
    display: block;
    color: #F0E681;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #F0E681;
    color: rgb(185,5,5);
  }
  